<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Software Library {% block title %}{% endblock %}</title>
{% block stylesheets %}
 
<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('css/menu.css') }}">

<style> 
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;

}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
    background-color: white;
}

h1{
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px silver;
}

header {background: #2e353d;color:white;}
footer {background: #2e353d;color:white;  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px silver;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
a{
    text-decoration: none;
    
}
</style>

{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div  class="container-fluid">
    <div class="row">    
        <div class="col-sm-3">
        <div class="nav-side-menu">
            <div class="brand"> SOFTWARE LIBRARY </div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            
                <div class="menu-list">
            
                    <ul id="menu-content" class="menu-content collapse out">
                            <a style="text-decoration: none; color:#e1ffff;" class="text-left" href="{{ path('main') }}">
                                <li>
                                    &nbsp;<i class="fa fa-home fa-lg"> Homepage</i>
                                </li>
                            </a>
                        {% if avion is defined %}
                        {% for av in avion %}
                        <a class="text-left" style="text-decoration: none; color:#e1ffff;">
                            <li  data-toggle="collapse" data-target="#avion{{av.id}}" class="collapsed">
                                &nbsp;<i class="fa fa-plane"></i> {{av.nom}}<span class="arrow"></span>
                            </li>
                        </a>
                        <ul class="sub-menu collapse" id="avion{{av.id}}">
                            {% for per in peripherique %}
                            <a style="text-decoration: none; color:#e1ffff;" href="{{ path('library', {'id':per.id}) }}"><li>{{per.libelle}}</li></a>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                        {% endif %}
                        
                            <a style="text-decoration: none; color:#e1ffff;" class="text-left" href="{{ path('about_us') }}">
                                <li>
                                    &nbsp;<i class="fa fa-user"></i> About Us
                                </li>
                            </a>

                            <a style="text-decoration: none; color:#e1ffff;" class="text-left" href="{{ url('homepage') }}logout">
                                <li>
                                    &nbsp;<i class="fa fa-power-off"></i> Disconnected
                                </li>
                            </a>
                    </ul>
            </div>
            </div>
        </div>
    
        {% block body %}
        
        {% endblock %}
        

        </div>

{% block javascripts %}

<script  src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script  src="{{ asset('js/bootstrap.min.js') }}"></script>

{% endblock %}
    </body>
</html>