{% extends 'index.html.twig' %}

{% block body %}
<div class="col-sm-3"></div>
<div class="col-sm-9 cnt-left" style="left: 27%;">

    <div class="flex-container">
        <header>
            <h1>PROJECT DISPLAY</h1>
        </header>

    <nav class="nav">
        <ul>
            <li><strong><h5> To communicate with the author of the application:</h5></strong></li>
            <br><br>
            <li>Linkdin:<a href="https://www.linkedin.com/in/saadayouj/" target='_blank'>  Saad Ayouj</a></li>
            <br>
            <li>Gmail:<a href="https://mail.google.com/" target='_blank'>  saadayouj666@gmail.com</a></li>
            <br>
            <li>Facebook:<a href="https://web.facebook.com/saad.ayouj.37" target='_blank'>  Saad Ayouj</a></li>
            <br>
            <li>Phone Number:<a href="#">  06 73 86 88 97</a></li>
        </ul>
    </nav>

        <article class="article">
            <h3><em>Software Library Introduction:</em></h3>
            <p>Being a student in professional license DAWIN at <strong>the Technological University of Bordeaux</strong>,
            as part of a final internship in the air company <strong>Royale Air Maroc </strong>, 
            I was charged with making a <strong>web application</strong> that will allow a good communication between 
            <strong>the IT department</strong> and <strong>the aeronautical technicians</strong> of the company,
            by offering them a web service which gathers all the <strong>links</strong>,
            which will allow the acquisition of the various <strong>softwares of the plane</strong>,
            without the intervention of the IT service.  I had no specification for the creation of this application, 
            so after a deep thinking and a calcul of timing, 
            I decided to create it based on <strong>HTML5, CSS3 (Bootstrap 3),
            JS</strong> and <strong>PHP 5 using the Symfony Framework with SQL as database</strong>,
            i used <strong>HAML</strong> a new technologie that i explored, 
            <strong>SCSS</strong> and many others.</p>

            <br>
            <p><strong><em>The Technological University of Bordeaux:</strong></em></p>
            <p>The University of Bordeaux has nearly 48,000 students and 4,000 research professors in the fields of humanities and social sciences, life sciences, health sciences and science and technology. It is one of six universities in the region of New Aquitaine. It is located in Bordeaux or in its suburbs in particular in the university area of Talence Pessac Gradignan, Agen and Périgueux.
            Standing on the River Thames, London has been a major settlement for two millennia,
            its history going back to its founding by the Romans, who named it Londinium.</p>

            <p><strong><em>The air company Royale Air Maroc:</strong></em></p>
            <p>Royal Air Maroc is a Moroccan airline whose main hub is Mohammed V Airport in Casablanca.
            From Casablanca, Royal Air Maroc offers a wide choice of flights to Africa, Europe, America and Asia.
            Royal Air Maroc is a company that holds the IATAA IATA2 certification, and was ranked 4 stars in 2015 according to Skytrax3, an independent organization.</p>

        </article>

        <footer>Copyright &copy; Saad Ayouj</footer>
        <br>
    </div> 
</div>
{% endblock %}