{% extends 'base.html.twig' %} {# Titre du page #} {% block title %}Login to The Software Library{% endblock %} {# Importation des fichiers css #} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'> {% endblock %} {# Contenu de page #} {% block body %}

<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="css/plane.mp4" type="video/mp4">
</video>

<div class='login'>

    <div class='login_title'>
        <span>THE ROYAL AIR MAROC <br> SOFTWARE LIBRARY</span>
    </div>

    <br>
    <br>
    <br>
    <div class='login_fields__submit' style="margin:auto; text-align:center;">
        <input type='submit' value='Enter' onclick="window.location.href = '{{ url('homepage') }}login'">
    </div>
</div>

<div class='love'>
    <p>Made by <a href='https://www.linkedin.com/in/saadayouj/' target='_blank'> Saad Ayouj </a></p>
</div>

{% endblock %} {# Importation des fichiers JS #} {% block javascripts %}

<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="{{ asset('js/index.js') }}"></script>

{% endblock %}