{% extends 'index.html.twig' %}

{# Titre du page #}

{% block title %}{% endblock %}

{% block body %}
    
    {% if data %}

<div class="col-sm-9 cnt-left">
    <div class="flex-container">
        <div class="panel-body">
                <ul class="list-group list-group-header">
                    <li class="list-group-item list-group-body">
                        <div class="row">
                            <div class="col-xs-2"><strong>ERD</strong></div>
                            <div class="col-xs-4"><strong>Name</strong></div>
                            <div class="col-xs-2"><strong>Location ID</strong></div>
                            <div class="col-xs-2"><strong>Description</strong></div>
                            <div class="col-xs-2"><strong>Link</strong></div>
                        </div>
                    </li>
                </ul> <br>
                <ul class="list-group list-group-body">
                {% for item in data %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2">{{item.eRD|escape}}</div>
                            <div class="col-xs-4">{{item.name|escape}}</div>
                            <div class="col-xs-2">{{item.locationId|escape}}</div>
                            <div class="col-xs-2">{{item.description|escape}}</div>
                            <div class="col-xs-2 text-left"> <a href="{{item.link|escape}}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> click here</a> </div>
                        </div>
                    </li>
                {% endfor %}
                <div class="navigation">
                {{ knp_pagination_render(data) }}
                </div>
                </ul>
            </div>
    </div>
</div>

    {% else %}


    {% endif %}
  

{% endblock %}